# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Config
.env
app/server/config.js
*.code-workspace
!versa.code-workspace

# Dependency directories
node_modules

# Compiled
package-lock.json
dist
dist/*
app/public/assets/client
app/public/assets/client/*