# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Config
.env
*.code-workspace
!versa.code-workspace
secure

# Dependency directories
node_modules

# Compiled
dist
app/public/assets/client
app/public/assets/client/*