version: '3.8'
services:
  app:
    environment:
      - NODE_ENV=development
    build:
      context: .
      target: development
    volumes:
      - ./:/usr/app
      - /usr/app/node_modules
    container_name: versa
    ports:
      - 8080:8080
      - 8888:8888
    expose:
      - 8080
      - 8888
