version: "3"
services:
  app:
    build:
      context: .
      target: dependencies
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - 8080:8080
      - 8888:8888
    command: yarn dev