.post {
	.container {
		margin: 1rem;
		display: flex;
		
		.post-avatar {
			margin-right: 1rem;
			flex-basis: 2.8rem;
		}
		
		.main {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: .4rem;
			
			.details {
				color: var(--text-color-light);
				font-size: .9rem;
				display: flex;
				align-items: baseline;
				position: relative;
				
				.name {
					color: var(--text-color);
					font-size: 1.1rem;
					font-weight: 700;
				}
				
				> *:not(:last-child) {
					margin-right: .3rem;
				}
				
				.options {
					position: absolute;
					top: 0;
					right: 0;
					cursor: pointer;
					transition-duration: .2s;
					
					&:hover .icon {
						color: var(--text-color-secondary);
					}
					
					.icon {
						height: 2.4rem;
					}
				}
			}
			
			.content {
				padding-bottom: .4rem;
				
				.text {
					font-size: .9rem;
					letter-spacing: .02rem;
				}
				
				.media {
					margin-top: 1rem;
					border-radius: $border-radius;
					overflow: hidden;
					
					img {
						max-width: 100%;
						max-height: 28rem;
					}
				}
			}
			
			.actions {
				color: color(blue-gray, 200);
				font-size: 1rem;
				display: flex;
				gap: 1rem;
				transition-duration: .2s;
				
				.action {
					cursor: pointer;
					display: flex;
					
					&:not(.selected):hover {
						color: color(blue-gray, 400);
					}
					
					&.selected {
						color: var(--primary-color);
						font-weight: 600;
					}
				}
				
				.icon {
					height: 1.6rem;
					margin-right: .3rem;
				}
			}
		}
	}
	
	/*.comments {
		
	}*/
}