.post {
	&:hover .options {
		display: block;
		opacity: 1;
	}
	
	.options {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		display: none;
		opacity: 0;
		transition-duration: .2s;
		
		&:hover .icon {
			color: var(--text-color-secondary);
		}
		
		.icon {
			height: 2.4rem;
		}
	}
	
	.container {
		margin: 1rem;
		display: flex;
		
		.post-avatar {
			margin-right: 1rem;
			flex-basis: 2.8rem;
		}
		
		.main {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: .4rem;
			
			.details {
				color: var(--text-color-light);
				font-size: .9rem;
				display: flex;
				align-items: baseline;
				position: relative;
				
				.name {
					color: var(--text-color);
					font-size: 1.1rem;
					font-weight: $font-bold;
				}
				
				> *:not(:last-child) {
					margin-right: .3rem;
				}
			}
			
			.content {
				padding-bottom: .4rem;
				
				.text {
					font-size: .9rem;
					letter-spacing: .02rem;
				}
				
				.media {
					margin-top: 1rem;
					overflow: hidden;
					
					> * {
						border-radius: $border-radius;
					}
					
					> img {
						max-width: 100%;
						max-height: 24rem;
						user-select: none;
					}
					
					.album-wrap {
						max-height: 24rem;
						max-width: 100%;
						aspect-ratio: .8;
					}
				}
			}
			
			.actions {
				color: color(blue-gray, 200);
				font-size: 1rem;
				display: flex;
				gap: 1rem;
				transition-duration: .2s;
				
				.action {
					cursor: pointer;
					display: flex;
					
					&:not(.selected):hover {
						color: color(blue-gray, 400);
					}
					
					&.selected {
						color: var(--primary-color);
						font-weight: $font-semibold;
					}
				}
				
				.icon {
					height: 1.6rem;
					margin-right: .3rem;
				}
			}
		}
	}
	
	/*.comments {
		
	}*/
}