$LOGO_WIDTH: 165px;
$LOGO_HEIGHT: 50px;

main .content > section.landing {
	overflow: hidden;
}

.landing {
	img {
		width: 100%;
	}
	
	.hero, .auth {
		background: linear-gradient(
			rgb(255 255 255 / .1) 0%,
			rgb(255 255 255 / .3)
		),
		url(/assets/i/noise.png),
		url(/assets/i/landing/landing-bkg.png) 50% 33%/cover;
	}
	
	.hero {
		color: #fff;
		height: 100vh;
		
		.box {
			max-width: 860px;
			margin: auto;
			
			> * {
				flex: 1;
				margin: 0 2rem;
				
				> *:not(:first-child) {
					margin-top: 1rem;
				}
			}
		}
		
		p {
			padding-bottom: 2rem;
			font-size: 2rem;
			font-weight: 800;
			text-align: right;
			line-height: 2rem;
			display: flex;
			
			&:before {
				content: '';
				border-bottom: .2rem solid #fff;
				padding-top: 1.2rem;
				margin: auto;
				margin-right: 1rem;
				flex: 1;
			}
		}
		
		.cta {
			&-primary {
				color: inherit;
				background-color: color(blue, 700);
				border-radius: 9rem;
				box-shadow: .2rem .2rem .8rem rgb(0 0 0 / .2);
				padding: 1.4rem 3rem;
				font-size: 1.4rem;
				font-weight: 800;
				text-align: center;
				line-height: 1.4rem;
				display: block;
				transition-duration: .14s;
				
				&:hover {
					background-color: color(blue, 900);
					box-shadow: 0 0 1rem rgb(0 0 0 / .6);
					text-decoration: none;
				}
			}
			
			&-secondary {
				color: inherit;
				margin-bottom: 4rem;
				font-size: 1rem;
				font-weight: 300;
				text-align: center;
				display: block;
			}
		}
	}
	
	.auth {
		color: color(blue-gray, 900);
		height: calc(100vh - $nav-height);
		
		.auth-error {
			color: color(red);
			font-size: .8rem;
		}
		
		.form-wrap {
			max-width: 420px;
			width: 100%;
			background-color: #fff;
			border-radius: 1.6rem;
			padding: 12rem 4rem;
			
			.heading {
				margin-bottom: 3rem;
				font-weight: 800;
			}
		}
		
		.form-wrap > *:not(:first-child), form > *:not(:first-child) {
			margin-top: 1rem;
		}
		
		.secondary-auth {
			font-size: .8rem;
			text-align: center;
		}
	}
}