{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
	"type": "es6"
  },
  "env": {
    "shippedProposals": true
  },
  "jsc": {
	"parser": {
	  "syntax": "ecmascript",
	  "importAssertions": true,
	  "jsx": true
	},
	"target": "es5",
	"loose": false,
	"externalHelpers": true,
	"keepClassNames": false,
	"transform": {
		"react": {
			"pragma": "React.createElement",
			"pragmaFrag": "React.Fragment",
			"throwIfNamespace": true,
			"development": false,
			"useBuiltins": true,
			"refresh": true
		}
	}
  },
  "minify": false
}
