{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "env": {
    "shippedProposals": true
  },
  "jsc": {
    "experimental": {
      "keepImportAssertions": true
    },
    "parser": {
    "syntax": "ecmascript",
    "dynamicImport": false,
    "topLevelAwait": true,
    "importAssertions": true
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": true,
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    "keepClassNames": false
  },
  "minify": false
}