{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
	"type": "es6"
  },
  "jsc": {
	"parser": {
	  "syntax": "ecmascript",
	  "importAssertions": true
	},
	"target": "es2016",
	"loose": true,
	"externalHelpers": false,
	// Requires v1.2.50 or upper and requires target to be es2016 or upper.
	"keepClassNames": false,
	"transform": {
		"react": {
			"pragma": "React.createElement",
			"pragmaFrag": "React.Fragment",
			"throwIfNamespace": true,
			"development": false,
			"useBuiltins": true
		}
	}
  },
  "minify": false
}